<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Stylesheets/admin-layout.css" />
</head>
<body class="layout-body">
    <div class="navbar">
        <h1 class="main-header">Admin Panel</h1>
        <h4 class="greeting">Hello, Steven!</h4>
        <ul class="nav-menu">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/api/projects/loadprojects">JSON view</a>
            <li class="nav-item"><a href="/admin/createproject" class="nav-link">Create a Project</a></li>
        </ul>
    </div>
    <main class="content">
        @RenderBody()
    </main>
    @RenderSection("Scripts", required: false)
</body>
</html>
