<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar">
        <h1 class="main-header">Admin Panel</h1>
        <h4 class="greeting">Hello, Steven!</h4>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
