@{
    ViewBag.Title = "AdminPanel";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h1>Admin Panel</h1>
<p>Here, you can Create, Read, Update and Delete projects for the portfolio app</p>


<table>
    <thead>ProjectID</thead>
    <thead>ProjectName</thead>
    <thead>ProjectDescription</thead>
</table>